<!DOCTYPE html>
<html>
	<head>
		<title>Leo words</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
		</script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		</script>
		<style type="text/css">
			p.head {
				font-size: 2em;
				font-weight: bold;
			}
			p.head a {
				color: #ccc;
			}
			.glyphicon {
				top: 5px;
			}
			.remove {
				position: absolute;
				right: 20px;
				top: 10px;
				font-size: 24px;
				color: black;
				display: none;
			}
			.remove:hover {
				color: red;
			}
			.inner:hover > .remove {
				display: block;
			}
			.panel-body a {
				color: black;
				font-size: 2em;
				font-weight: bold;
			}
			.panel-body a:hover {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="panel panel-default" style="background: #faf9f9">
			<div class="container">
				<div class="panel-body">
					<a href="https://lingualeo.com"><i class="fa fa-paw" aria-hidden="true"></i> Lingualeo</a>
					<a class="pull-right" href="https://github.com/conformist-mw/subtitles-with-leo"><i class="fa fa-github" aria-hidden="true"></i> Subtitles with Leo</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{% for item in words.items %}
				<div class="col-md-4">
					<div class="col-md-12 inner text-center well">
						<a data-id="{{ item.id }}" data-word="{{ item.value }}" data-transcription="{{ item.transcription }}" onclick="ignoreWord(this);" class="remove" href="#/" title="ignore word">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
						<p class="head">
							<a href="#/" onclick="playWord(this)"><i class="glyphicon glyphicon-volume-up"></i></a>
						{{ item.value }}</p>
						<code>{{ item.transcription }}</code>
						<audio src="{{ item.sound_url }}"></audio>
						<hr>
						{% for translate in item.translates|sort(attribute='votes', reverse=True) %}
						<p class="col-md-9">
							<a id="id{{ translate.id }}" data-word="{{ item.value }}" data-translate="{{ translate.value }}" data-translate_id="{{ translate.id }}" data-word_id="{{ item.id }}" data-transcription="{{ item.transcription }}" onclick="addWord(this);" href="#/">{{ translate.value }}</a>
						</p>
						<p class="col-md-3">{{ translate.votes }}</p>
						{% endfor %}
					</div>
				</div>
				{% if loop.index is divisibleby(3) %}
					<div class="col-md-12"></div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-12">
				<div class="text-center">
		      <ul class="pagination">
		      {% if words.has_prev %}
		        <li><a href="{{ url_for(request.endpoint, page=words.prev_num) }}"><span>«</span></a></li>
		      {% else %}
		        <li class="disabled"><span>«</span></li>
		      {% endif %}
		      {% for page in words.iter_pages() %}
		        {% if page %}
		          {% if page != words.page %}
		            <li><a href="{{ url_for(request.endpoint, page=page) }}">{{ page }}</a></li>
		          {% else %}
		            <li class="active"><span>{{ page }}</span></li>
		          {% endif %}
		        {% else %}
		          <li><span class="ellipsis">...</span></li>
		        {% endif %}
		      {% endfor %}
		      {% if words.has_next %}
		        <li><a href="{{ url_for(request.endpoint, page=words.next_num) }}"><span>»</span></a></li>
		      {% else %}
		        <li class="disabled"><span>»</span></li>
		      {% endif %}
		      </ul>
		    </div>
	    </div>
		</div>
		<div class="navbar-inverse navbar-bottom">
			<div class="container">
				<div class="col-sm-12 text-center navbar-text">
					conformist © <a href="https://github.com/conformist-mw">github</a>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		function playWord(elem){
			var audio = $(elem).parent().siblings()[2];
			audio.play();
		};
		function addWord(elem){
			var word = $(elem).data('word');
			var word_id = $(elem).data('word_id');
			var translate = $(elem).data('translate');
			var translate_id = $(elem).data('translate_id');
			var transcription = $(elem).data('transcription');
			data = {
				'word_id': word_id,
				'translate_id': translate_id
			};
			$.post('http://192.168.1.4:5000/addWord', data)
				.done(function(){
					var div = $(elem).parents('div.well');
					var str = '<p class="head">' + word + '</p><code>' + transcription + '</code><hr><strong class="text-success" style="font-size: 2em;">' + translate + '</strong>';
					div.html(str);
				});
		};
		function ignoreWord(elem){
			var id = $(elem).data('id');
			var word = $(elem).data('word');
			var transcription = $(elem).data('transcription');
			$.post('http://192.168.1.4:5000/ignoreWord', {'id': id})
				.done(function(){
					var div = $(elem).parent('div.well');
					var str = '<p class="head">' + word + '</p><code>' + transcription + '</code><hr><strong class="text-danger text-uppercase">Ignored</strong>';
					div.html(str);
				});
		}
	</script>
</html>